table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  section {
    display: table;
  }
  .icon-button {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.35em;
    border-radius: 50%;
    background-color: transparent;
    border: none;
  
    .white-icon {
      color: white;
  }
  }

  .poke-ball-img {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 1.5rem;
  }
  