<mat-card class="card-container">
  <mat-card-content class="main-container">
    <mat-card-title>
      Resume list of pokemon
    </mat-card-title>
    <div class="container-letters">
      <p
        *ngFor="let letter of letters"
        [ngClass]="{ letters: true, active: selectLetter === letter }"
        (click)="onSelectedLetter(letter)"
      >
        {{ letter }}
      </p>
    </div>
    <mat-card-subtitle class="subtitle"> numbers of pokemon : <span>{{numberOfResults}}</span></mat-card-subtitle>
  </mat-card-content>
</mat-card>
