.card-container{
    display: flex;
    margin-top: 1.5rem;
    border-radius: 1rem;
    color: azure;
}
.subtitle {
     span {
        font-weight: bold;
     }
}

.main-container {
    display: flex;
    flex-direction: column;
}
.container-letters{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.letters {
    font-size: .75rem;
    color: black;
    cursor: pointer;
}
.active {
    color: white;
}